<%- include('../partials/header') %>

<form id="add-ticket" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:</label>
    <input type="string" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <span>$</span><input type="number" name="price">
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>