<%- include('../partials/header')%>

<h2>Enter a New Flight</h2>
<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label>
    <input type="text" name="airline">

    <label>Airport:</label>
    <input type="text" name="airport">

    <label>Flight Number:</label>
    <input type="number" name="flightNo">

    <label>Departs:</label>
    <input type="datetime-local" name="departs" value="<%= departsDate %>">

    <button type="submit">Add Flight</button>
</form>




<%- include('../partials/footer')%>